base/target/
core/target/
gcloud/.settings
**/app_engine_example/
.jsdtscope
jimmutable-log4j2.properties
*.class
cloud/target/
.idea/aws.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
cloud/.classpath
cloud/.settings/org.eclipse.jdt.core.prefs
cloud/bin/.project
cloud/bin/pom.xml
cloud/bin/pom-public-deploy.xml
cloud/bin/.settings/org.eclipse.core.resources.prefs
cloud/bin/.settings/org.eclipse.m2e.core.prefs
cloud/bin/aws-notes/elastic-cache/elastic-cache-notes.txt
cloud/bin/aws-notes/jimmutable-ami/notes.txt
cloud/.idea
core/.idea
core/.settings/**
cloud/.settings/**
**/.classpath
**/.project

